@import "tailwindcss";

@theme {
  --color-scheme: light;
}

@layer base {
  :root {    
    --background: oklch(1.00 0 0);
    --foreground: oklch(0 0 0);
    --card: oklch(1.00 0 0);
    --card-foreground: oklch(0.26 0 0);
    --popover: oklch(1.00 0 0);
    --popover-foreground: oklch(0.26 0 0);
    --primary: oklch(0.75 0.16 164.07);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.92 0.01 164.93);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.98 0 0);
    --muted-foreground: oklch(0.65 0 0);
    --accent: oklch(0.98 0 0);
    --accent-foreground: oklch(0.33 0 0);
    --destructive: oklch(0.69 0.20 23.69);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.94 0 0);
    --input: oklch(0.94 0 0);
    --ring: oklch(0.77 0 0);
    --chart-1: oklch(0.75 0.16 164.07);
    --chart-2: oklch(0.69 0.20 23.69);
    --chart-3: oklch(0.45 0.31 264.05);
    --chart-4: oklch(0.89 0.19 106.02);
    --chart-5: oklch(0.49 0.19 309.75);
    --sidebar: oklch(0.99 0 0);
    --sidebar-foreground: oklch(0.26 0 0);
    --sidebar-primary: oklch(0.33 0 0);
    --sidebar-primary-foreground: oklch(0.99 0 0);
    --sidebar-accent: oklch(0.98 0 0);
    --sidebar-accent-foreground: oklch(0.33 0 0);
    --sidebar-border: oklch(0.94 0 0);
    --sidebar-ring: oklch(0.77 0 0);
    /* Custom color palette with variants */
    --black: #000000;
    --black-foreground: #FFFFFF;
    --black-light: #B5B5B5;
    --black-dark: #212221;
    --white: #FFFFFF;
    --white-foreground: #000000;
    --white-light: #FFFFFF;
    --white-dark: #6B6C6B;
    --slate: #6A7489;
    --slate-foreground: #000000;
    --slate-light: #CED1D7;
    --slate-dark: #393D43;
    --gray: #6E727F;
    --gray-foreground: #000000;
    --gray-light: #CFD0D4;
    --gray-dark: #3A3D40;
    --zinc: #717179;
    --zinc-foreground: #FFFFFF;
    --zinc-light: #D0D0D3;
    --zinc-dark: #3B3C3F;
    --neutral: #737373;
    --neutral-foreground: #FFFFFF;
    --neutral-light: #D0D0D0;
    --neutral-dark: #3C3D3C;
    --stone: #76716D;
    --stone-foreground: #FFFFFF;
    --stone-light: #D1D0CE;
    --stone-dark: #3D3C3A;
    --red: #DD5860;
    --red-foreground: #000000;
    --red-light: #EFC5C9;
    --red-dark: #5D3235;
    --orange: #DC824D;
    --orange-foreground: #000000;
    --orange-light: #F1D4C1;
    --orange-dark: #5E412E;
    --amber: #DEB145;
    --amber-foreground: #000000;
    --amber-light: #F3E4BA;
    --amber-dark: #605129;
    --yellow: #E5E04C;
    --yellow-foreground: #000000;
    --yellow-light: #F5F4B3;
    --yellow-dark: #626125;
    --lime: #AFD953;
    --lime-foreground: #000000;
    --lime-light: #E3F2C0;
    --lime-dark: #4F5F2E;
    --green: #86D26F;
    --green-foreground: #000000;
    --green-light: #D2EFCD;
    --green-dark: #405D3A;
    --emerald: #76CD94;
    --emerald-foreground: #000000;
    --emerald-light: #C2EEDA;
    --emerald-dark: #355A47;
    --teal: #5B9BA8;
    --teal-foreground: #000000;
    --teal-light: #BEDDE2;
    --teal-dark: #2E4A4E;
    --cyan: #4469C0;
    --cyan-foreground: #FFFFFF;
    --cyan-light: #BACDE9;
    --cyan-dark: #293A55;
    --sky: #373BDA;
    --sky-foreground: #FFFFFF;
    --sky-light: #B8BCF1;
    --sky-dark: #25295E;
    --blue: #381FF4;
    --blue-foreground: #FFFFFF;
    --blue-light: #B5ACF9;
    --blue-dark: #231A66;
    --indigo: #4B28E2;
    --indigo-foreground: #FFFFFF;
    --indigo-light: #C0B4F4;
    --indigo-dark: #2C2161;
    --violet: #6637D1;
    --violet-foreground: #FFFFFF;
    --violet-light: #CABBEF;
    --violet-dark: #36285B;
    --purple: #844CC0;
    --purple-foreground: #FFFFFF;
    --purple-light: #D4C2E9;
    --purple-dark: #412F55;
    --fuchsia: #A361AF;
    --fuchsia-foreground: #000000;
    --fuchsia-light: #DFC9E4;
    --fuchsia-dark: #4B3750;
    --pink: #C377A0;
    --pink-foreground: #000000;
    --pink-light: #EAD1DF;
    --pink-dark: #563E4B;
    --rose: #E48E91;
    --rose-foreground: #000000;
    --rose-light: #F4D8DA;
    --rose-dark: #614647;
    --primary: #74C997;
    --primary-foreground: #000000;
    --primary-light: #C2EEDA;
    --primary-dark: #355A47;
    --secondary: #C2CBC7;
    --secondary-foreground: #000000;
    --secondary-light: #EAEEEC;
    --secondary-dark: #565B58;
    --destructive: #DD5860;
    --destructive-foreground: #000000;
    --destructive-light: #EFC5C9;
    --destructive-dark: #5D3235;
    --font-sans: Inter, sans-serif;
    --font-serif: Inter, sans-serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: -0.025em;
    --spacing: 0.27rem;
  }
  .dark {
    --background: oklch(0.14 0.00 285.82);
    --foreground: oklch(0.98 0 0);
    --card: oklch(0.14 0.00 285.82);
    --card-foreground: oklch(0.98 0 0);
    --popover: oklch(0.14 0.00 285.82);
    --popover-foreground: oklch(0.98 0 0);
    --primary: oklch(0.98 0 0);
    --primary-foreground: oklch(0.21 0.01 285.88);
    --secondary: oklch(0.27 0.01 286.03);
    --secondary-foreground: oklch(0.98 0 0);
    --muted: oklch(0.27 0.01 286.03);
    --muted-foreground: oklch(0.71 0.01 286.07);
    --accent: oklch(0.27 0.01 286.03);
    --accent-foreground: oklch(0.98 0 0);
    --destructive: oklch(0.40 0.13 25.72);
    --destructive-foreground: oklch(0.97 0.01 17.38);
    --border: oklch(0.27 0.01 286.03);
    --input: oklch(0.27 0.01 286.03);
    --ring: oklch(0.87 0.01 286.29);
    --chart-1: oklch(0.53 0.19 262.13);
    --chart-2: oklch(0.70 0.13 165.46);
    --chart-3: oklch(0.72 0.15 60.63);
    --chart-4: oklch(0.62 0.20 312.73);
    --chart-5: oklch(0.61 0.21 6.39);
    --sidebar: oklch(0.21 0.01 285.88);
    --sidebar-foreground: oklch(0.97 0.00 286.38);
    --sidebar-primary: oklch(0.49 0.22 264.39);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.27 0.01 286.03);
    --sidebar-accent-foreground: oklch(0.97 0.00 286.38);
    --sidebar-border: oklch(0.27 0.01 286.03);
    --sidebar-ring: oklch(0.87 0.01 286.29);
    --font-sans: Inter, sans-serif;
    --font-serif: Inter, sans-serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    /* Custom color palette */
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-slate: #6A7489;
    --color-gray: #6E727F;
    --color-zinc: #717179;
    --color-neutral: #737373;
    --color-stone: #76716D;
    --color-red: #DD5860;
    --color-orange: #DC824D;
    --color-amber: #DEB145;
    --color-yellow: #E5E04C;
    --color-lime: #AFD953;
    --color-green: #86D26F;
    --color-emerald: #76CD94;
    --color-teal: #5B9BA8;
    --color-cyan: #4469C0;
    --color-sky: #373BDA;
    --color-blue: #381FF4;
    --color-indigo: #4B28E2;
    --color-violet: #6637D1;
    --color-purple: #844CC0;
    --color-fuchsia: #A361AF;
    --color-pink: #C377A0;
    --color-rose: #E48E91;
    --color-primary: #74C997;
    --color-secondary: #C2CBC7;
    --color-destructive: #DD5860;
    /* Border radius */
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
  
#root {
  @apply p-4;
}

:has(> .remove-parent-padding) {
  padding: 0px !important;
}

:has(DIV.remove-ancestor-padding) {
  padding: 0 !important;
}

.invisible-scrollbar {
  opacity: 0 !important;
  pointer-events: none !important;
}
