When creating .md files use /Docs/Documentation/Basic.md as example on how to write articles.

In ../Ivy/Samples you can find examples of how to code using the Ivy framework. Search for concepts before writing. 

Don't be too chatty. Use fun examples if possible. We like it nerdy. 